/************************************/
/* GENERAL PAGE AND FONT FORMATTING */
/************************************/
h1, h2, p, .code {
	position: relative;
	top: 50px;
	z-index: 60;
}
h1, h2, p, .code {
	margin-left: 40px;
	color: #545454;
}
h2, p, .code, a {
	line-height: 140%;
	max-width: 750px;
	width: 90%;
}
h1, h2, p, a {
	font-family: "Arial", "Helvetica";
}
h1, h2 {
	color: #545454;
}
h2 {
	font-size: 15pt;
	font-variant: small-caps;
}
a {
	font-size: 11pt;
	color: #000080;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #545454;
	border-radius: 3px;
}
p {
	font-size: 11pt;
}
/*******************/
/* CODE FORMATTING */
/*******************/
pre {
	width: 700px;                          /* specify width  */
	white-space: pre-wrap;                 /* CSS3 browsers  */
	white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
	white-space: -pre-wrap;                /* Opera 4 thru 6 */
	white-space: -o-pre-wrap;              /* Opera 7 and up */
	word-wrap: break-word;                 /* IE 5.5+ and up */
	/* overflow-x: auto; */                /* Firefox 2 only */
	/* width: 99%; */		       /* only if needed */
	}
.code, code {
	background-color: white;
	width: 640px;
	font-family: "Courier New", "Consolas";
	font-size: 11pt;
	border-radius: 2px;
}
code {
	background-color: #EEEEEE;
	border-radius: 5px;
}
.code {
	padding-left: 10px;
	border: 1px solid;
	border-color: #E7E7E7;
	box-shadow: 1px 1px 1px #E7E7E7;
}
.source {
	color: #000080;
	font-family: "Arial", "Helvetica";
}

/***************************************************/
/* TRANSPARENT NAVIGATION BAR FORMATTING AND STYLE */
/***************************************************/
nav {
	background: url("../nav.png") repeat-x;
	opacity: .8;
	left: -7px;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid;
	border-bottom-color: #E7E7E7;
	z-index: 100;
	font-family: "Arial";
	top: 0px;
}
nav ul {
	list-style: none;
}
nav ul li {
	float: left;
	margin: 0 14px;
}
#logo {
	font-weight: bold;
}

/**********************************/
/* SIDEBAR STYLING AND FORMATTING */
/**********************************/
#sidebar {
	position: absolute;
	margin: 0;
	padding-left: 20px;
	top: 110px;
	left: 900px;

	text-align: left;
	font-family: "Arial";
	color: #545454;
	list-style: none;
	line-height: 140%;
	font-size: 11pt;
	width: 200px;
	border-left: 1px solid;
	border-color: #E7E7E7;
}